body {
    margin-bottom: 60px;
    background: linear-gradient(139deg,#e6fafdcb 0%, #ecececb6 90%);  /*background color using linear gradient */
}

table {
    width:100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #ced4da;
    padding: 0.5rem;
}

td, th {
    text-align: left;
}

td:nth-child(1), td:nth-child(3){
    text-align: center;
}

th {
    font-weight: bold;
}

.selected {
    background-color: #dc3545;
    color: #FFF;
}